wrapper {
	text-align: center;
	display: grid;
	place-content: center;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(600px, 1fr));
  gap: 10px;
}

#canvas-container {
	grid-row: 1;
	grid-column: 1;
	height: 100%;
	width: 100%;
	position: relative;
}

#base {
	z-index: -1;
}

canvas {
	max-height: 90%;
	max-width: 90%;
	border: 1px solid black;
	position: absolute;
	top: 20px;
	left: 20px;
}

#fields {
	height: 100%;
	width: 100%;
}